.link-list li {
  display: inline-block;
  margin-top: 30px;
}

/* 
inline-block:

- розташовується послідовно, в рядку (як в inline елементах)
- розмір визначається по контенту (як в inline елементах)
- елемент завжди прямокутний (як в block елементах)
- працюють властивості width / height (як в block елементах)
*/

.page-link {
  text-decoration: none;
  background-color: lightblue;
  padding: 10px;
  color: rgb(161, 20, 130);
}

.page-link:hover {
  background-color: dodgerblue;
  color: bisque;
}

.page-link:focus {
  border: 5px solid green;
}

.page-link:active {
  background-color: orange;
  color: black;
}

input:focus {
  background-color: aquamarine;
}

/* li:first-child {
  color: blue;
}

li:last-child {
  color: green;
} */

/* li:nth-child(odd) {
  color: orange;
  background-color: bisque;
}

li:nth-child(even) {
  color: orangered;
  background-color: bisque;
} */

/* li:nth-child(5) {
  color: orange;
  background-color: bisque;
} */

/* 
  Задача: обрати всі елементи після третього (тобто, починаючи з 4 елемента) */
/* li:nth-child(n+4) {
  color: orange;
  background-color: bisque;
} */

/* Задача: Обрати тільки перші 5 елементів */
/* li:nth-child(-n+5) {
  color: orange;
  background-color: bisque;
} */

/* Задача: вибрати кожен 3 елемент, починаючи з 1 */
/* An + B */
/* 
A - які саме числа нас будуть цікавити; 
B - елемент, з якого ми починаємо 
*/
li:nth-child(3n + 1) {
  color: orange;
  background-color: bisque;
}

/* 
hover - спрацьовує при наведенні на елемент мишею
focus - спрацьовує при фокусі на елемент мишею або за допомогою клавіші "ТАБ"
active - спрацьовує при натисненні на посилання
first-child - застосовує правила до першого елемента вкладеного в батьківський елемент
last-child - працює як first-child, тільки шукає останній елемент
*/